extends ../layout

block content
	//- link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' , rel='stylesheet')
	.container(style='margin-top: 130px;')
		.row
			.col-md-12
				center
					h3 About Us
				.mt-5
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ex quo accusantium, officia corrupti excepturi eligendi deserunt, corporis nisi quia neque repudiandae asperiores quaerat. Vel, et ea? Adipisci, cumque, fugit.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam necessitatibus, labore sit eligendi sint voluptatum quisquam obcaecati impedit eos, velit doloribus commodi, deleniti ducimus nisi minus. Accusantium exercitationem iure, quibusdam.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ex quo accusantium, officia corrupti excepturi eligendi deserunt, corporis nisi quia neque repudiandae asperiores quaerat. Vel, et ea? Adipisci, cumque, fugit.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam necessitatibus, labore sit eligendi sint voluptatum quisquam obcaecati impedit eos, velit doloribus commodi, deleniti ducimus nisi minus. Accusantium exercitationem iure, quibusdam.
		.row.mt-5
			.col-md-12
				center
					h3 Our Team
			.col-md-12.mt-5
				h4 Founders
			.col-md-4.mt-5
				div(class='box', data-aos='flip-down', data-aos-duration=1500)
					div(class='imgbox')
						img(src='/images/staff/akshat.png')
					ul(class='social-icon')
						li
							a(href='https://www.facebook.com/akshat.patel.583', target='_blank') 
								i(class="fa fa-facebook" aria-hidden='true')
						li
							a(href='#', target='_blank') 
								i(class="fa fa-twitter" aria-hidden='true')
						li
							a(href='https://www.instagram.com/akshatt_2/?hl=en', target='_blank') 
								i(class="fa fa-instagram" aria-hidden='true')
					div(class='details')
						h3 Akshat Patel
							br
							span Co-Founder
			.col-md-4.mt-5
				div(class='box', data-aos='flip-down', data-aos-duration=1500)
					div(class='imgbox')
						img(src='/images/staff/crains.png')
					ul(class='social-icon')
						li
							a(href='https://www.facebook.com/patel.crains', target='_blank') 
								i(class="fa fa-facebook" aria-hidden='true')
						li
							a(href='#', target='_blank') 
								i(class="fa fa-twitter" aria-hidden='true')
						li
							a(href='https://www.instagram.com/crainspatel/?hl=en', target='_blank') 
								i(class="fa fa-instagram" aria-hidden='true')
					div(class='details')
						h3 Crains Patel
							br
							span Co-Founder
			.col-md-12.mt-5
				h4 Technical Staff
			.col-md-4.mt-5
				div(class='box', data-aos='flip-down', data-aos-duration=1500)
					div(class='imgbox')
						img(src='/images/staff/jash.png')
					ul(class='social-icon')
						li
							a(href='https://www.facebook.com/jashdetroj', target='_blank') 
								i(class="fa fa-facebook" aria-hidden='true')
						li
							a(href='#', target='_blank') 
								i(class="fa fa-twitter" aria-hidden='true')
						li
							a(href='https://www.instagram.com/_joey__98/?hl=en', target='_blank') 
								i(class="fa fa-instagram" aria-hidden='true')
					div(class='details')
						h3 Jash Patel
							br
							span Chief Technical Officer
			.col-md-4.mt-5
				div(class='box', data-aos='flip-down', data-aos-duration=1500)
					div(class='imgbox')
						img(src='/images/staff/kushal.png')
					ul(class='social-icon')
						li
							a(href='https://www.facebook.com/kushal.shah.7334', target='_blank') 
								i(class="fa fa-facebook" aria-hidden='true')
						li
							a(href='#', target='_blank') 
								i(class="fa fa-twitter" aria-hidden='true')
						li
							a(href='https://www.instagram.com/_kushal_s/?hl=en', target='_blank') 
								i(class="fa fa-instagram" aria-hidden='true')
					div(class='details')
						h3 kushal shah
							br
							span Technical Head
			.col-md-12.mt-5
				h4 Designer Staff
			.col-md-4.mt-5
				div(class='box', data-aos='flip-down', data-aos-duration=1500)
					div(class='imgbox')
						img(src='/images/staff/parth.png')
					ul(class='social-icon')
						li
							a(href='https://www.facebook.com/profile.php?id=100009465003757', target='_blank') 
								i(class="fa fa-facebook" aria-hidden='true')
						li
							a(href='#', target='_blank') 
								i(class="fa fa-twitter" aria-hidden='true')
						li
							a(href='https://www.instagram.com/parth_pansuriya/?hl=en', target='_blank') 
								i(class="fa fa-instagram" aria-hidden='true')
					div(class='details')
						h3 Parth Pansuriya
							br
							span Design Head