extends ../layout

block content
	div(class="mycard")
		img(src="/images/ui/380534.png" style="width:100%")
		center
			h2 FRIENDS
		p
			b Price: 
			del 500
			i 400/-
		a(class="mybuttonlink", href='#') view details
//- https://www.limeroad.com/t-shirts
