extends ../layout

block content
	script(src='/javascripts/ui/ninja-slider.js')
	div(id='ninja-slider')
		.slider-inner
			ul
				li
					a.ns-img(href='/images/ui/slide/1.jpg')
					.caption RESPONSIVE
				li
					a.ns-img(href='/images/ui/slide/2.jpg')
					.caption TOUCH-ENABLED
				li
					a.ns-img(href='/images/ui/slide/3.jpg')
					.caption VIDEO-AUDIO
				li
					a.ns-img(href='/images/ui/slide/4.jpg')
					.caption NON-JQUERY
				li
					a.ns-img(href='/images/ui/slide/5.jpg')
					.caption MOBILE-FRIENDLY