extends ../layout

block content
	table.mytable-order.table-responsive-sm
		tr
			th header 1
			th header 2
			th header 3
			th header 4
			th header 5
		tr
			td content 1
			td content 1
			td content 1
			td content 1
			td content 1
		tr
			td content 1
			td content 1
			td content 1
			td content 1
			td content 1
		tr
			td content 1
			td content 1
			td content 1
			td content 1
			td content 1