extends layout

block content
	.container(style='margin-top: 130px;')
		if (errMsg != '')
			.error-msg
				i.fa.fa-times-circle 
				span  #{errMsg}
		if (sucMsg != '')
			.success-msg
				i.fa.fa-check
				span  #{sucMsg}
		.row
			.col-md-3
			.col-md-6
				.new-login-form
					center
						form(name='login', action='/login/password-reset', method='post')
							img(src='/images/logo/koalalogo.png')
							h3 Password Reset
							input.login-email(type='email', name='email', placeholder='Enter your Registered Email')
							br
							input.new-login-btn(type='submit', name='login', value='Send OTP')
		//- .signin
		//- 	form(name='login', action='/login/password-reset', method='post')
		//- 		h2 Password Reset
		//- 		label Enter Registered Email:
		//- 		input(type='email', name='email', placeholder='Enter Registered Email')
		//- 		if (errMsg)
		//- 			p #{errMsg}
		//- 		if (sucMsg)
		//- 			p #{sucMsg}
		//- 		input.signinbtn(type='submit', name='login', value='Send Password Reset Link')