extends ../layout

block content
	.container(style='margin-top: 130px;')
		if (errMsg != '')
			.error-msg
				i.fa.fa-times-circle 
				span  #{errMsg}
		if (sucMsg != '')
			.success-msg
				i.fa.fa-check
				span  #{sucMsg}
		.row
			.col-md-3
			.col-md-6
				.new-login-form
					center
						form(name='change-password', action='/users/change-password', method='post')
							img(src='/images/logo/koalalogo.png')
							h2 Change Password
							input(type='password', name='currentpassword', placeholder='Enter Current Password')
							br
							input(type='password', name='newpassword', placeholder='Enter New Password', pattern='(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[@!_]).{8,}', title='Minimum 8 characters and atleast one alphabet, one digit and one symbol(@,! or _) required', required)
							br
							input.new-login-btn(type='submit', name='change-password-submit', value='Change Password')
			.col-md-3