h1 Welcome #{name}, to the Koalastore.in
h4 Here's your mail confirmation link:
h3
	//- a(href='http://localhost:3000/login/confirm_mail/'+_id, style='test-decoration: none; color: green;') confirm registration
	//- a(href='http://newkoalastore.herokuapp.com/login/confirm_mail/'+_id, style='test-decoration: none; color: green;') confirm registration
	a(href='https://www.koalastore.in/login/confirm_mail/'+_id, style='test-decoration: none; color: green;') Confirm Registration