h3 You have recieved new order at koalastore.
br
h4 #{fullname} has ordered products worth #{payment} Rs.
p To see further details click the link below
a(href='https://www.koalastore.in/admin/orders', style='text-decoration: none;') koalastore orders